DB_NAME=
DB_USER=
DB_PASSWORD=
REPLICATOR_USER=
REPLICATOR_PASSWORD=
REDIS_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Optional, default 8080 kalau kosong
APP_PORT=
